<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <th:block th:replace="./fragments/_head.html::head"></th:block>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    <!--_header-->
    <th:block th:replace="./fragments/_header.html::header"></th:block>

    <!--fin header-->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div id="settings-trigger"><i class="ti-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>
                    Light
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                    Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                </div>
            </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <th:block th:replace="./fragments/_navGestBiblio.html::NavBiblio"></th:block>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 d-flex grid-margin w-100">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">
                                    Liste des emprunts
                                </h3>
                                <h6 class="font-weight-normal mb-0">
                                    Ici vous pourrez gerer les differents emprunts des etudiants
                                    <span class="text-primary">(3 emprunts en cours)</span>
                                </h6>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success"><a class="text-white font-weight-500 text-decoration-none pointer" th:href="@{/newEmprunt}">Declarer un emprunt</a></button>
                        </div>
                    </div>
                </div>
                <div class="list-group" th:if="${session.authorithies[0].authority =='Admin' }">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="app">Liste emprunts en cours</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Date de debut</th>
                                        <th>Date de fin</th>
                                        <th>Motif de l'emprunt</th>
                                        <th>Action</th>
                                        <!--                                        <th>Détails</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="emprunts : ${emprunts}">
                                        <td th:text="${emprunts.dateDebut}"></td>
                                        <td th:text="${emprunts.dateFin}"></td>
                                        <td th:text="${emprunts.motif}"></td>
                                        <td>
                                            <div class="icon d-flex gap-lg-2 ">
                                                <div>
                                                    <a class="text-primary text-decoration-none pointer" th:if="${emprunts.dateRestitution == null }">Cloturer</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
<!--                                <table class="table">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th>Date Emprunt</th>-->
<!--                                        <th>Motif</th>-->
<!--                                        <th>En cours</th>-->
<!--                                        <th>Action</th>-->
<!--                                        &lt;!&ndash;                                        <th>Détails</th>&ndash;&gt;-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                        <tr th:each="emprunts : ${emprunts}">-->
<!--                                            <td th:text="${emprunts.dateDebut}"></td>-->
<!--                                            <td th:text="${emprunts.motif}"></td>-->
<!--                                            <td>-->
<!--                                                <div class="icon d-flex gap-lg-2 ">-->
<!--                                                    <div>-->
<!--                                                        <a class="text-primary text-decoration-none pointer" >${emprunt.etat}</a>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                            <td>-->
<!--                                                <div class="icon d-flex gap-lg-2 ">-->
<!--                                                    <div>-->
<!--                                                        <a class="text-primary text-decoration-none pointer" th:if="${session.authorithies[0].authority =='Admin' }">Notifier etudiant</a>-->
<!--                                                    </div>-->
<!--                                                    <div>-->
<!--                                                        <a class="text-primary text-decoration-none pointer" th:if="${session.authorithies[0].authority =='Admin' }">Cloturer</a>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 stretch-card grid-margin" th:if="${session.authorithies[0].authority =='Etudiant' }">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="app">Mes emprunts en cours</h4>
                            <div class="table-responsive">
                                <table id="table_id" class="table">
                                    <thead>
                                    <tr>
                                        <th>Date Emprunt</th>
                                        <th>Motif</th>
                                        <th>En cours</th>
                                        <th>Action</th>
                                        <!--                                        <th>Détails</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="emprunts : ${emprunts}">
                                        <td th:text="${emprunts.dateDebut}"></td>
                                        <td th:text="${emprunts.motif}"></td>
                                        <td>
                                            <div class="icon d-flex gap-lg-2 ">
                                                <div>
                                                    <a class="text-primary text-decoration-none pointer" >${emprunt.etat}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="icon d-flex gap-lg-2 ">
                                                <div>
                                                    <a class="text-primary text-decoration-none pointer" th:if="${session.authorithies[0].authority =='Admin' }">Notifier etudiant</a>
                                                </div>
                                                <div>
                                                    <a class="text-primary text-decoration-none pointer" th:if="${session.authorithies[0].authority =='Admin' }">Cloturer</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- content-wrapper ends -->

            <!-- Modal for modlanotes  -->
            <th:block
                    th:replace="./fragments/_modalsBiblio.html::modalsBiblio"
            ></th:block>

            <!-- End Modal for  moadlnotes  -->

            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <th:block th:replace="./fragments/_footer.html::footer"></th:block>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <th:block th:replace="./fragments/_js.html::js"></th:block>
</div>
<!-- End custom js for this page-->
</body>
</html>
