<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <th:block th:replace="./fragments/_head.html::head"></th:block>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    <!--_header-->
    <th:block th:replace="./fragments/_header.html::header"></th:block>

    <!--fin header-->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div id="settings-trigger"><i class="ti-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>
                    Light
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                    Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                </div>
            </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <th:block th:replace="./fragments/_navGestBiblio.html::NavBiblio"></th:block>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">
                                    Ajouter un Ouvrage
                                </h3>
<!--                                <h6 class="font-weight-normal mb-0">-->
<!--                                    Ici vous pourrez consulter tous les ouvrages present dans la bibliotheque-->
<!--                                    <span class="text-primary">(356 ouvrages present)</span>-->
<!--                                </h6>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 stretch-card grid-margin">
                    <div class="card">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="pvSyn">Ajouter un ouvrage</h5>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:object="${ouvrage1}" th:action="@{/newOuvrage}" method="post" style="padding: 10px;">
                                    <div class="row justify-content-center" style="padding: 10px;">
                                        <div class="form-group" style="width: 45%; margin-right: 20px;">
                                            <label for="title">Titre:</label>
                                            <input type="text" th:field="*{nom}" class="form-control" id="title" name="title" style="width: 100%;">
                                        </div>
                                        <div class="form-group" style="width: 45%;">
                                            <label for="author">Auteur:</label>
                                            <input type="text"  th:field="*{auteur}" class="form-control" id="author" name="author" style="width: 100%;">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center" style="padding: 10px;">
                                        <div class="form-group"  style="width: 45%; margin-right: 20px;">
                                            <label for="publisher">Maison d'édition:</label>
                                            <input type="text" th:field="*{maison_Edition}" class="form-control" id="publisher" name="publisher">
                                        </div>
                                        <div class="form-group" style="width: 45%;">
                                            <label>Date parution:</label>
                                            <input type="date" class="form-control"  name="date_publisher">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center" style="padding: 10px;">
                                        <div class="form-group" style="width: 45%; margin-right: 20px;">
                                            <label for="category">Catégorie:</label>
                                            <select class="form-control" th:field="*{categorieDto.id}" id="category" name="category">
                                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.nom}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group" style="width: 45%;">
                                            <label for="emplacement">Emplacement:</label>
                                            <select class="form-control" th:field="*{localisationDto.id}" id="emplacement" name="emplacement">
                                                <option th:each="localisation : ${emplacements}" th:value="${localisation.id}" th:text="${localisation.section + ' - ' + localisation.numeroEtagere}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center" style="padding: 10px;">
                                        <div class="form-group" style="width: 45%; margin-right: 20px;">
                                            <label for="nature">Nature:</label>
                                            <select class="form-control" id="nature" th:field="*{nature}">
                                                <option value="Physique">Physique</option>
                                            </select>
                                        </div>
                                        <div class="form-group" style="width: 45%;">
                                            <label for="genre">Genre:</label>
                                            <input type="text" class="form-control" id="genre" th:field="*{genre}">
                                        </div>
                                    </div>
<!--                                    <div class="form-group">-->
<!--                                        <label for="isbn">ISBN:</label>-->
<!--                                        <input type="text" class="form-control" id="isbn" th:field="*{ouvrageDto.isbn}">-->
<!--                                    </div>-->
                                    <div class="form-group form-check overflow-hidden">
                                        <input type="text" class="form-check-input" value="test" id="fichier" th:field="*{fichier}">
<!--                                        <label class="form-check-label" for="fichier">fichier</label>-->
                                    </div>
                                    <div class="row justify-content-center" style="padding: 10px;">
                                        <div class="form-group"  style="width: 45%; margin-right: 20px;">
                                            <label for="prixUnitaire">Prix unitaire:</label>
                                            <input type="number" step="0.01" class="form-control" id="prixUnitaire" th:field="*{prixUnitaire}">
                                        </div>
                                        <div class="form-group" style="width: 45%;">
                                            <label for="description">Description:</label>
                                            <textarea class="form-control" id="description" th:field="*{description}"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- content-wrapper ends -->

            <!-- Modal for modlanotes  -->
            <th:block
                    th:replace="./fragments/_modalsBiblio.html::modalsBiblio"
            ></th:block>

            <!-- End Modal for  moadlnotes  -->

            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <th:block th:replace="./fragments/_footer.html::footer"></th:block>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <th:block th:replace="./fragments/_js.html::js"></th:block>
</div>
<!-- End custom js for this page-->
</body>
</html>
