<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gestion des Horaires</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/feather/feather.css">
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link href="../../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="../../vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="../../text/css" href="js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
  <link rel="stylesheet" href="/css/trombinoscope.css">
</head>

<body>
<head>
  <!-- Required meta tags -->
  <th:block th:replace="fragments/_head.html::head"></th:block>
  <!--  <th:block th:replace="fragments/_modalsIntervention.html::modalsIntervention"></th:block>-->

</head>
<div class="container-scroller">

  <!--_header-->
  <th:block th:replace="/fragments/_header.html::header"></th:block>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <div class="theme-setting-wrapper">
      <div id="settings-trigger"><i class="ti-settings"></i></div>
      <div id="theme-settings" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <p class="settings-heading">SIDEBAR SKINS</p>
        <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
        <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
        <p class="settings-heading mt-2">HEADER SKINS</p>
        <div class="color-tiles mx-0 px-4">
          <div class="tiles success"></div>
          <div class="tiles warning"></div>
          <div class="tiles danger"></div>
          <div class="tiles info"></div>
          <div class="tiles dark"></div>
          <div class="tiles default"></div>
        </div>
      </div>
    </div>
    <!-- partial -->

    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <th:block th:replace="/fragments/_navTrombinoscope.html::navTrombinoscope"></th:block>
    <div class="profile-area">
      <div class="container">
        <div class="row">
          <div class="col-md-3" id="i">
            <div class="card-imd">
              <div class="img1"><img th:src="@{images/uisj.png}" alt=""></div>
              <div class="img2"><img th:src="@{images/al.jpeg}" alt=""></div>
              <div class="main-text">
                <h4>DJUMO AUDREY</h4>

                <p>Je suis ingenieur a Saint Jean niveau 4 filiere ISI francophone.</p>

              </div>
              <div class="socials">
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-envelope"></i>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="i3">
            <div class="card-imd">
              <div class="img1"><img th:src="@{images/uisj.png}" alt=""></div>
              <div class="img2"><img th:src="@{images/al.jpeg}" alt=""></div>
              <div class="main-text">
                <h4>DJUMO AUDREY</h4>

                <p>Je suis ingenieur a Saint Jean niveau 4 filiere ISI francophone.</p>

              </div>
              <div class="socials">
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-envelope"></i>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="i2">
            <div class="card-imd">
              <div class="img1"><img th:src="@{images/uisj.png}" alt=""></div>
              <div class="img2"><img th:src="@{images/al.jpeg}" alt=""></div>
              <div class="main-text">
                <h4>DJUMO AUDREY</h4>

                <p>Je suis ingenieur a Saint Jean niveau 4 filiere ISI francophone.</p>

              </div>
              <div class="socials">
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-envelope"></i>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="i1">
            <div class="card-imd">
              <div class="img1"><img th:src="@{images/uisj.png}" alt=""></div>
              <div class="img2"><img th:src="@{images/al.jpeg}" alt=""></div>
              <div class="main-text">
                <h4>DJUMO AUDREY</h4>

                <p>Je suis ingenieur a Saint Jean niveau 4 filiere ISI francophone.</p>

              </div>
              <div class="socials">
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-envelope"></i>
              </div>
            </div>
          </div>
      </div>
    </div>  <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../js/off-canvas.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<script src="../../js/template.js"></script>
<script src="../../js/settings.js"></script>
<script src="../../js/todolist.js"></script>

<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->



<!-- plugins:js -->
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../../vendors/chart.js/Chart.min.js"></script>
<script src="../../vendors/datatables.net/jquery.dataTables.js"></script>
<script src="../../vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="js/dataTables.select.min.js"></script>

<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../js/dashboard.js"></script>
<script src="../../js/Chart.roundedBarCharts.js"></script>


</body>

</html>



