<html xmlns:th="http://www.thymeleaf.org" >

<th:block th:fragment="NavBiblio">
    <nav class="sidebar sidebar-offcanvas" id="sidebar" >
        <ul class="nav" th:if="${session.authorithies[0].authority =='Admin' }">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dashboard}">
                    <i class="bi bi-arrow-left-circle-fill menu-icon "></i>
                    <span class="menu-title">Retour à l'ENT</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/gestionbibliotheque}">
                    <i class="icon-grid menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <span class="app">Gestion de la Bibliotheque</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#ouvrage" href="#" aria-expanded="false" aria-controls="ui-basic" >
                    <i class="bi bi-book menu-icon"></i>
                    <span class="menu-title">Ouvrage</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ouvrage">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" th:href="@{/createouvrage}">Ajouter une Ouvrage </a></li>
                        <li class="nav-item"> <a class="nav-link" th:href="@{/listOuvrages}">Liste des Ouvrages</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item" th:if="${session.authorithies[0].authority =='Admin' }">
                <a class="nav-link" data-toggle="collapse" href="#cert" aria-expanded="false" aria-controls="ui-basic">
                    <i class="bi bi-file-check-fill menu-icon"></i>
                    <span class="menu-title" >Categorie</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="cert">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" th:href="@{/createcategorie}">Ajouter une Categorie </a></li>
                        <li class="nav-item"> <a class="nav-link" th:href="@{/listCategories}">Liste des categories</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item" th:if="${session.authorithies[0].authority =='Admin' }">
                <a class="nav-link" data-toggle="collapse" href="#etudiant" aria-expanded="false" aria-controls="ui-basic">
                    <i class="bi bi-people-fill menu-icon"></i>
                    <span class="menu-title">Adherant</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="etudiant">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#carteModal">Ajouter un Adherant</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#classeModal">Liste des Adherants</a></li>

                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#location" aria-expanded="false" aria-controls="ui-basic">
                    <i class="bi bi-bookshelf menu-icon"></i>
                    <span class="menu-title">Emplacements</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="location">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#AddStocks" >Ajouter un emplacement</a></li>
                        <li class="nav-item"> <a class="nav-link" th:href="@{/listEmplacements}">Visualiser les emplacements</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#stocks" aria-expanded="false" aria-controls="ui-basic">
                    <i class="icon-layout menu-icon"></i>
                    <span class="menu-title">Stocks</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="stocks">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#AddStocks" >Declarer un approvisionnement </a></li>
                        <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#HistoriqueStocks">Historiques des stocks</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/gestemprunts}">
                    <i class="menu-icon bi bi-clock-history"></i>
                    <span class="menu-title">Emprunts</span>
                </a>
            </li>


        </ul>
        <ul class="nav" th:if="${session.authorithies[0].authority =='Etudiant'}">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profil}">
                    <i class="bi bi-people-fill menu-icon"></i>
                    <span class="menu-title">Mon Profil</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/parcours}"  >
                    <i class="bi bi-list-columns-reverse menu-icon"></i>
                    <span class="menu-title">Mon Parcours </span>
                </a>
            </li>
            <li class="nav-item">
                <span class="app">IUSJC Bibliotheque</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/mesfavoris}">
                    <i class="menu-icon bi bi-bookmark"></i>
                    <span class="menu-title">Mes favoris</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/gestemprunts}">
                    <i class="menu-icon bi bi-clock-history"></i>
                    <span class="menu-title">Mes emprunts</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->


</th:block>

</html>